<html>
    <head>
        <title>Quiz 2 - Quiz Vue JS </title>
    </head>
    <body>
        <div id="app">
            <div id="input-data">
                <input type="text" name="name" v-model="inputName"/>
                <button v-if="operation === 'add'" @click="create">{{operation}}</button>
                <button v-else @click="update(inputId)">{{operation}}</button>
            </div>
            <ol>
                <li v-for="(user,index) in users">
                    {{ user.name }}
                    <button @click="getData(index)">Edit</button>
                    <button @click="deleteData(index)">Delete</button>
                </li>
            </ol>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    inputId: "",
                    inputName: "",
                    operation: "add",
                    users: [
                        {
                            "name": "Muhammad Iqbal Mubarok"
                        },
                        {
                            "name": "Ruby Purwanti"
                        },
                        {
                            "name": "Faqih Muhammad"
                        }
                    ]
                },
                methods: {
                    create: function() {
                        this.users.push({"name":this.inputName});
                    },
                    deleteData: function(id) {
                        this.users.splice(id,1);
                    },
                    getData: function(id) {
                        this.inputName = this.users[id].name;
                        this.operation = "update";
                        this.inputId = id;
                    },
                    update: function(id) {
                        this.users[id].name = this.inputName;
                        this.operation = "add"
                    }
                }
            })
        </script>
    </body>
</html>